.input-bar {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 420px) {
  .input-bar {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 1px;
  }
}
