* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.main {
  width: 100%;
}

.limit-width {
  width: 92%;
  margin: 0 auto;
}

@media only screen and (min-width: 420px) {
  .limit-width {
    max-width: 1036px;
  }
}
