.cardList {
  display: block;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 6rem 0;
  height: calc(100vh - 21.8rem - 24rem);
}

.card {
  width: 13.7rem;
  height: 20.4rem;
  margin-bottom: 0.9rem;
  margin-right: 1.1rem;
}

.hero img {
  display: block;
  width: 100%;
  margin: 0;
}

.details {
  padding-right: 0.2rem;
  margin: 0;
}
