.navbar {
  /* align-items: center; */
  height: 6rem;
  background-color: #017efe;
}

.navbar .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1450px;
  height: 100%;
  margin: 0 auto;
}

.navbar .left h1 {
  padding: 0;
  margin: 0;
}

.navbar .right ul {
  /* width: 16rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
