/* .movies {
  min-height: calc(100vh - 337px);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 62px;
}

@media only screen and (min-width: 420px) {
  .movies {
    justify-content: flex-start;
    justify-content: space-between;
  }
} */
